# Backend REST API & Socket.IO URL
VITE_API_URL=http://localhost:8000/api
VITE_SOCKET_URL=http://localhost:8000

# Dedicated Application Entry Points
VITE_PUBLIC_APP_URL=http://localhost:5000
VITE_SELLER_APP_URL=http://localhost:5140
VITE_ADMIN_APP_URL=http://localhost:5174
